@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



.profile-pic{
  border-radius: 50%;
  width: 70%;
}

.word-break{
  word-break: break-word;
}

.progress-bar{
  background-color: #1a80d8;
}

.timeline-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0.2rem;
  background-color: #1a80d8;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 45%;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

}

.timeline-dot {
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #1a80d8;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.left {
  align-self: flex-start;
  text-align: right;
  margin-right: 50%;
  padding-right: 2rem;
}

.right {
  align-self: flex-end;
  text-align: left;
  margin-left: 50%;
  padding-left: 2rem;
}


.left .timeline-dot {
  left: 100%;
}

.right .timeline-dot {
  left: 0%;
}

.timeline-item h6, 
.timeline-item h5, 
.timeline-item p, 
.timeline-item ul {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.color-custom{
  color: #1a80d8;
}

.contact{
  width: 60%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.opacity-normal{
  position: "relative";
  z-index: 2;
}

.form-control{
  opacity: 0.8;
}

.color-white{
  color: white;
}

.profile{
  width: 80%;
}

.percent{
  display: flex;
  align-items: center;
}

.skill-item{
  width: 50%;
}
.download-icon{
  width: 30%;
}

@media (max-width: 1500px) {
  .contact {
    width: 75%;
  }
  .profile-pic{
    width: 70%;
  }
  .profile{
    width: 90%;
  }
  .download-icon{
    width: 40%;
  }
}

@media (max-width: 900px) {
  .contact {
    width: 100%;
  }
  .profile{
    width: 100%;
  }
  .profile-pic{
    width: 50%;
  }
  .download-icon{
    width: 50%;
  }
}

@media(max-width: 768px){
  .timeline-line {
    left: 0;
    transform: none;
    width: 0.5rem;
  }

  .timeline-item {
    width: 100%;
    margin-left: 0;
    padding-left: 2rem;
    text-align: left;
  }

  .timeline-item.left {
    align-self: flex-start;
    text-align: left;
  }

  .timeline-item.right {
    align-self: flex-start;
    text-align: left;
  }

  .timeline-dot {
    left: -1%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
  }

  .left .timeline-dot {
    left: -1%;
  }
  .right .timeline-dot {
    left: -1%;
  }

  .skillsets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .skillset{
    width: 100%;
  }
  .skill-item{
    width: 100%;
  }
  .download-icon{
    width: 80%;
  }
}
.w-30{
  width: 30% !important;
}

.w-10{
  width: 10%;
}