.home{
  background: linear-gradient(to bottom, #1a80d8,white );
}

.start-view{
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.headline{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.aboutme{
  height: 30%;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #1a80d8;
}

.description{
  text-align: justify;
  text-align-last: center;
  background-color: white;
  display: flex;
  justify-content: center;

}

.pic-turn{
  transform: rotate(-45deg) scale(0.707);
}

.pic-switch-container{
  position:relative;
}

.pic-switch{
  display: block;
}

.pic-switch-hover{
  display: none;
}

.pic-switch-container:hover .pic-switch{
  display: none;
}

.pic-switch-container:hover .pic-switch-hover{
  display: block;
}

.img-container{
  position: relative;
  height: auto;
}

.flower{
  position: absolute;
  top: -22%;
  left: 7%;
  width: 76%;
  height: auto;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 71%, 80% 78%, 75% 65%, 66% 66%, 65% 63%, 50% 63%, 0% 60%);

  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  transform-origin: center;
}

.flower-active{
  opacity: 1;
  transform: scale(1.1);
}

.flower-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wiggle {
  animation: wiggle 2s ease-in-out;
}

@keyframes wiggle{
  0%, 100% { transform: translate(0, 0) rotate(0deg); }
  10% { transform: translate(-3px, 0) rotate(-2deg); }
  20% { transform: translate(3px, 0) rotate(2deg); }
  30% { transform: translate(-3px, 0) rotate(-2deg); }
  40% { transform: translate(3px, 0) rotate(2deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
}

.booty{
  cursor: pointer;
}

.net{
  position: absolute;
  content: "";
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  clip-path: polygon(-19.43% -5.56%, 101.83% 0%, 101.7% 100.07%, -2.54% 100.17%, 35.40% 24.75%, 40.61% 18.76%, 23.08% 18.9%, 24.47% 24.24%, 35.79% 24.69%, 54.52% 38.53%, 51.13% 8.88%, 42% 8.5%, 39.4% 16.55%, 54.32% 16%, 53.55% 13.86%, 59.92% 27.86%, 42.91% 27.93%, 0.42% 100.92%);

}
.basketball{
  position: absolute;
  width: 5.5%;
  cursor: pointer;
}

.basketball1{
  top: 40%;
  left: -10%;
}

.basketball-throw1{
  animation: throwBall1 1.5s ease-in-out;
}


@keyframes throwBall1 {
  0% {
    top: 40%;
    left: -10%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    top: 0%;
    left: 10%;
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    top: 22%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.basketball2{
  top: 45%;
  left: 85%;
}

.basketball-throw2{
  animation: throwBall2 1.5s ease-in-out;
}


@keyframes throwBall2 {
  0% {
    top: 45%;
    left: 85%;
  }
  25% {
    transform: rotate(-360deg);
  }
  50% {
    top: 2%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    top: 10%;
    left: 42%;
    transform: translateX(-50%) translateY(-100%);
    transform: rotate(0deg);
  }
}


.basketball3{
  top: 50%;
  left: 30%;
}

.basketball-throw3{
  animation: throwBall3 1.5s ease-in-out;
}


@keyframes throwBall3 {
  0% {
    top: 50%;
    left: 30%;
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    top: 20%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    top: 31%;
    left: 47%;
    transform: translateX(-50%) translateY(-100%);
    transform: rotate(400deg);
}
}